.responsive-sidebar.active {
    width: 230px;
    padding: 1rem 1.25rem 0px 0.75rem ;
}

.responsive-sidebar.active ~ .content .sidebar-btn {
display: none;
}

@media (min-width: 768px) { 
.responsive-sidebar ~ .content {
width: calc(100% - 270px);
}
}